
.right {
	padding-top: 6px;
}
.brand-logo {
	padding-top: 6px;
	margin-left: 10px;
}
.nav-wrapper {
    background-color: rgb(27, 22, 52, 0.9);
}
.nav-wrapper2 {
    background-color: rgb(203, 4, 48, 0.9);
}
.nav-wrapper3 {
    background-color: rgb(92, 99, 178, 0.9);
}

h1 {
    margin-top: 0px;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../assets/images/background.jpg");
  
    /* Full height */
    height: 108%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg2 {
    /* The image used */
    background-image: url("../assets/images/watermelonBracelet.jpg");
  
    /* Full height */
    height: 108%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    /* The image used */
    background-image: url("../assets/images/reachingOut.jpg");
  
    /* Full height */
    height: 120%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
